[submodule "ui"]
	path = ui
	url = https://github.com/grycap/oscar-ui.git
	branch = master
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/grycap/oscar-dashboard.git
[submodule "oscar-dashboard"]
	path = dashboard
	url = https://github.com/grycap/oscar-dashboard
