# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.cache
.gocache

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Other files and folders
.vscode
docs/build
docs/.vscode
docs/source/_build
work/
test/*.zip
.settings/
.DS_Store

#Files from ui
ui/node_modules
ui/dist
ui/package-lock.json

# Log files
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*

# mkdocs site
/site

# Generated Swagger docs
pkg/apidocs/
